@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}


body {
    background: #ededed;
    font-family: 'Bebas Neue', cursive;
    margin: 0 auto;
    width: 800px;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

header {
    display: unset;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page-title {
    text-align: center;
    font-size: 30px;
}


.explain {
    text-align: center;
}

.high-score-link a{
    color: navy;
    text-decoration: none;
    cursor: pointer;
}

#start-button {
    align-items: center;
    background-color: navy;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
background-color: navy;
color: white;
font-size: 16px;
border: none;
padding: 10px 20px;
border-radius: 10px;
cursor: pointer;
transition: all 0.5s;
}

.btn:hover {
    background-color: rgb(192, 192, 236);
    color: navy ;
}

.results {
    margin: 0 auto;
    width: 800px;
    height: auto;
    display: flex none;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 30px;
    color: red;
    font-weight: bold;
}

.finish-container {
    display: inline;
    margin: 0 auto;
    width: 800px;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.initial-section {
    margin: 0 auto;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    display: none;
    font-size: 30px;
}

form {
    flex-direction: row;
}

input {
    display: inline;
}

.paragraph {
    display: inline;
}
