@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}


body {
    background: #ededed;
    font-family: 'Bebas Neue', cursive;
    margin: 0 auto;
    width: 800px;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.btn {
background-color: navy;
color: white;
font-size: 16px;
border: none;
padding: 10px 20px;
border-radius: 10px;
cursor: pointer;
transition: all 0.5s;
}

.btn:hover {
    background-color: rgb(192, 192, 236);
    color: navy ;
}

.finish-container {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

textarea {
    background-color: lightblue;
}
